.container {
  width: 100%;
  background: rgba(0,0,0,.1);
  border-radius: 1rem;
  margin: 1.2rem 0;
}
.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 1.4rem; */
  padding: 1.4rem;
  position: relative;
}
.focusControl {
  border-bottom: .2rem solid rgba(0,0,0,.1);
}
.loading {
  right: 4.5rem;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  gap: .5rem;
}
.loading span {
  width: .8rem;
  height: .8rem;
  border-radius: 100%;
  background: #000;
  animation: circle 1s ease-in-out infinite;
}
.loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading span:nth-child(3) {
  animation-delay: 0.4s;
}


.value_input {
  width: 100%;
  background: transparent;
  text-align: left;
  position: relative;
  /* border-right: .1rem solid rgba(var(--color-soft-menu)); */
}
.value_input label {
  color: rgba(var(--font-color),.6);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.indicator {
  width: 3.5rem;
  padding: .5rem;
}

.indicator svg {
  transition: all .3s ease;
}
.control:hover .indicator svg, .indicator:hover svg {
  stroke: rgba(var(--color-soft-menu));
  stroke-width: .2rem;
}

.menu {
  display: flex;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.option {
  padding: .6rem 1.2rem;
  text-align: left;
}
.focus {
  background: yellow;
}

@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.6);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
