#root {
  display: flex;
  max-height: 100vh;
  width: 100%;
}
.userImg {
  height: 100%;
  display: flex;
  align-items: center;
  gap: .6rem;
}
.userImg img {
  border: .1rem solid gray;
  border-radius: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.title {
  font-size: clamp(var(--font-l), 2.5vw, var(--font-xl));
  color: rgba(var(--color-blue))
}
input {
  background: rgba(var(--color-white), .1);
}


@media (prefers-color-scheme: light) {
  .title {
    color: rgba(var(--color-soft-menu))
  }
  input {
    background: rgba(var(--color-white));
  }
}
